veta-whatsapp-flow.json
{
  "name": "VETA - Agente WhatsApp IA",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "eee22b52-e177-4e7d-a24b-cf0efc428c91",
      "name": "Webhook - Verificación Meta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "veta-wa-verify"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "d3bc5719-a55f-40ae-b3b8-d72d293fe589",
      "name": "Responder Verificación",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8bf7a12e-7d26-4f95-9ae6-99a3dc224d07",
      "name": "Webhook - Mensajes WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "veta-wa-messages"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ok\"}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "af8d6942-4237-4555-a692-52ebe97fed4c",
      "name": "Responder 200 OK a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        240,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\ntry {\n  const message = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\n  if (!message) return [{ json: { skip: true } }];\n  const meta = body.entry[0].changes[0].value.metadata;\n  const from = message.from;\n  const type = message.type;\n  const phoneNumberId = meta.phone_number_id;\n  const waMessageId = message.id || null;\n  const replyTo = message.context?.id || null;\n  const waTimestamp = message.timestamp || null;\n  let textContent = '';\n  let mediaId = null;\n  let mediaType = 'text';   // ruta del switch: 'audio' | 'image' | 'text'\n  let msgType = 'text';     // tipo guardado en BD: 'image' | 'text'\n  if (type === 'text') {\n    textContent = message.text.body;\n  } else if (type === 'audio' || type === 'voice') {\n    mediaId = message.audio?.id || message.voice?.id;\n    mediaType = 'audio';\n  } else if (type === 'image') {\n    mediaId = message.image.id;\n    textContent = message.image.caption || '[imagen]';\n    mediaType = 'image';\n    msgType = 'image';\n  } else {\n    textContent = '[Archivo no soportado]';\n  }\n  const RESET_KEYWORDS = ['nuevo chat', 'nueva sesion', 'nueva sesión', 'reiniciar'];\n  const normalized = textContent.toLowerCase().trim().replace(/[¡!¿?.,]/g, '');\n  const isReset = type === 'text' && RESET_KEYWORDS.some(k => normalized === k || normalized.includes(k));\n  const finalText = isReset ? 'Quiero iniciar una nueva sesión' : textContent;\n  return [{ json: { from, type, textContent: finalText, mediaId, mediaType, msgType, waMessageId, replyTo, waTimestamp, phoneNumberId, skip: false, isReset } }];\n} catch (err) {\n  return [{ json: { skip: true } }];\n}"
      },
      "id": "1ae7bd57-6afd-482b-8659-02fa96b397a2",
      "name": "Parsear Mensaje WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "183b53e9-dc04-477f-92a2-5ae889df475c",
      "name": "¿Saltar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {}
      },
      "id": "6c8ceb0f-3566-44c9-a9ec-ed7c66f5f03e",
      "name": "¿Audio o Texto?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "10d1b325-2262-42ca-ae96-90e655c1baf1",
      "name": "Obtener URL del Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GROQ_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "es"
            },
            {
              "name": "response_format",
              "value": "json"
            }
          ]
        },
        "options": {}
      },
      "id": "83bf56c3-1849-404d-9d1b-b059e512b902",
      "name": "Transcribir Audio (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst baseData = $('Parsear Mensaje WA').first().json;\n\n// Audio llega con .text (respuesta de Groq Whisper)\n// Texto llega con .textContent ya seteado\nconst textContent = inputData.text || inputData.textContent || '';\n\nreturn [{ json: { ...baseData, textContent } }];"
      },
      "id": "fe8a5fea-b74f-4da8-910a-42f1379e9892",
      "name": "Unificar Transcripción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $json.from }}"
            },
            {
              "name": "role",
              "value": "eq.user"
            },
            {
              "name": "created_at",
              "value": "=gte.{{ new Date(Date.now() - 24*60*60*1000).toISOString() }}"
            },
            {
              "name": "select",
              "value": "id"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "count=exact"
            },
            {
              "name": "Range",
              "value": "0-0"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "3c07f88b-d31f-4e78-b3cb-4c51237ea3be",
      "name": "Contar Mensajes Hoy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener conteo de mensajes hoy (desde nodo anterior)\nconst countHeaders = $('Contar Mensajes Hoy').first().json.headers || {};\nconst contentRange = countHeaders['content-range'] || '';\nconst match = contentRange.match(/\\/(\\d+)$/);\nconst count = match ? parseInt(match[1]) : 0;\n\n// Leer límite dinámico desde Supabase settings\nlet dailyLimit = 10;\ntry {\n  const limitRows = $input.all();\n  if (limitRows.length > 0 && limitRows[0].json && limitRows[0].json.value) {\n    dailyLimit = parseInt(limitRows[0].json.value) || 10;\n  }\n} catch(e) { /* usar default 10 */ }\n\n// Datos del mensaje según la rama que corrió: imagen, audio o texto\nlet msgData;\ntry {\n  msgData = $('Preparar Imagen').first().json;\n} catch(e1) {\n  try {\n    msgData = $('Unificar Transcripción').first().json;\n  } catch(e2) {\n    msgData = $('Parsear Mensaje WA').first().json;\n  }\n}\n\nreturn [{ json: { ...msgData, mensajesHoy: count, limitAlcanzado: count >= dailyLimit, dailyLimit } }];"
      },
      "id": "254c6b51-c12a-457c-9bbd-25a2a402b396",
      "name": "¿Cuántos mensajes hoy?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "limit-check",
              "leftValue": "={{ $json.limitAlcanzado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5d5b1e19-8b5a-45e0-a496-8e293641a895",
      "name": "¿Límite alcanzado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2640,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":\"En los pr\\u00f3ximos minutos, te atender\\u00e1 directamente un asesor para continuar con tu proceso. Agradecemos tu espera \\ud83e\\udd0d\"}}",
        "options": {}
      },
      "id": "944a5a9c-edb8-4905-bbb3-b30ff82141d5",
      "name": "Enviar Mensaje Límite al Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WA_NOTIFY_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":\"\\ud83d\\udc64 *Cliente listo para asesor*\\n\\nN\\u00famero: +{{ $json.from }}\\nMensajes usados hoy: {{ $json.mensajesHoy }}/10\\n\\nEl cliente ya recibi\\u00f3 aviso de que lo atender\\u00e1s en los pr\\u00f3ximos minutos.\"}}",
        "options": {}
      },
      "id": "c5850f81-6e36-495c-a21d-20fb46a13ffa",
      "name": "Notificar a Sebastian (límite)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        48
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $('¿Límite alcanzado?').first().json.from }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "select",
              "value": "role,content"
            },
            {
              "name": "created_at",
              "value": "=gte.{{ new Date(Date.now() - 30*24*60*60*1000).toISOString() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Range",
              "value": "0-19"
            }
          ]
        },
        "options": {}
      },
      "id": "838c0647-bf58-46a2-9511-aca6263748e0",
      "name": "Historial de Conversación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        320
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const msgData = $('¿Límite alcanzado?').first().json;\nconst isReset = $('Parsear Mensaje WA').first().json.isReset === true;\n\nlet historyArray = $('Historial de Conversación').all()\n  .map(item => item.json)\n  .filter(h => h && h.role && h.content)\n  .reverse();\n\nif (isReset) historyArray = [];\n\nconst esPrimerMensaje = historyArray.length === 0;\n\nconst products  = ($('Cargar Catálogo').first().json.body) || [];\nconst stockRows = ($('Cargar Stock').first().json.body) || [];\nconst stockMap = {};\nstockRows.forEach(r => { stockMap[r.product_id + '::' + r.size] = r.qty; });\n\nconst CAT_LABELS = { anillos:'ANILLOS', collares:'COLLARES', aretes:'ARETES', pulseras:'PULSERAS', piercings:'PIERCINGS' };\nconst byCat = {};\nproducts.forEach(p => { (byCat[p.cat] = byCat[p.cat] || []).push(p); });\n\nlet catalogo = '';\nfor (const cat of Object.keys(CAT_LABELS)) {\n  const list = byCat[cat];\n  if (!list || !list.length) continue;\n  catalogo += '\\n' + CAT_LABELS[cat] + ':\\n';\n  for (const p of list) {\n    const precio = '$' + Number(p.price).toLocaleString('es-CO');\n    const sizes = Array.isArray(p.sizes) ? p.sizes : [];\n    const dispo = sizes.map(sz => {\n      const q = stockMap[p.id + '::' + sz];\n      return (q !== undefined && q <= 0) ? sz + ' (agotada)' : sz;\n    });\n    const hayAlgo = sizes.length === 0 || sizes.some(sz => { const q = stockMap[p.id + '::' + sz]; return q === undefined || q > 0; });\n    const tallas = dispo.length ? dispo.join(', ') : 'única';\n    catalogo += '• ' + p.name + ' (' + p.id + ') | ' + p.material + ' | ' + p.finish + ' | ' + precio + ' | Tallas: ' + tallas + (hayAlgo ? '' : ' — AGOTADA') + '\\n';\n    if (p.blurb) catalogo += '  ' + p.blurb + '\\n';\n  }\n}\n\nlet pedidosRows = [];\ntry { pedidosRows = $('Cargar Pedidos Cliente').first().json.body || []; } catch(e) {}\n\nlet pedidosResumen = '';\nif (!isReset && pedidosRows.length > 0) {\n  pedidosResumen = '\\nPEDIDOS PREVIOS DEL CLIENTE:\\n';\n  const estados = { pending:'Pendiente ⏳', dispatched:'Despachado 🚚', delivered:'Entregado ✅' };\n  pedidosRows.forEach((p, i) => {\n    const fecha = new Date(p.created_at).toLocaleDateString('es-CO', { day:'2-digit', month:'short' });\n    const est = estados[p.status] || p.status;\n    pedidosResumen += (i+1) + '. ' + p.items + ' | ' + p.city + ' | ' + est + ' | ' + fecha + '\\n';\n    if (p.notes) pedidosResumen += '   ' + p.notes + '\\n';\n  });\n}\n\nlet siteUrl;\ntry { siteUrl = $env.SITE_URL || 'vetajoyeria.co'; } catch(e) { siteUrl = 'vetajoyeria.co'; }\n\nlet saludoInstruccion;\nif (isReset) {\n  saludoInstruccion = `NUEVA SESIÓN: el cliente pidió iniciar una nueva sesión. Tu respuesta DEBE:\n1. Acusar recibo con calidez (ej: \"¡Claro, con gusto! 🌙 Empezamos desde cero.\")\n2. Presentarte EXPLÍCITAMENTE: \"Soy Luna, asesora de VETA.\"\n3. Preguntar: \"¿Con quién tengo el gusto?\"\nNo saltes ninguno de estos tres pasos.`;\n} else if (esPrimerMensaje) {\n  saludoInstruccion = 'PRIMER CONTACTO: saluda con calidez. Preséntate EXPLÍCITAMENTE como \"Luna, asesora de VETA 🌙\" y pregunta con quién tienes el gusto.';\n} else {\n  saludoInstruccion = 'CLIENTE RECURRENTE: ' + (pedidosRows.length > 0\n    ? 'tiene ' + pedidosRows.length + ' pedido(s) previo(s). Salúdalo por su nombre con calidez, sin presentarte de nuevo. Ofrécele de forma natural (no lista rígida): seguimiento al pedido más reciente (' + pedidosRows[0].items + ', estado: ' + pedidosRows[0].status + '), nuevo pedido, catálogo, o resolver dudas.'\n    : 'sin pedidos previos. Salúdalo por su nombre con calidez, sin presentarte de nuevo. Ofrécele de forma natural: hacer un pedido, explorar el catálogo, o resolver dudas.');\n}\n\nconst SYSTEM_PROMPT = `Eres Luna, asesora de ventas de VETA, una marca colombiana de joyería minimalista de autor. Atiendes por WhatsApp.\n\n${saludoInstruccion}\n\nIDENTIDAD:\n- Tu nombre es Luna. Si alguien pregunta \"¿con quién tengo el gusto?\", \"¿cómo te llamas?\" o similar, responde siempre: \"Soy Luna, asesora de VETA 🌙\".\n- \"Luna\" es tu nombre propio, no confundas con nombres de clientes.\n- NO te vuelvas a presentar si ya hay historial activo (salvo que el cliente pida nueva sesión).\n\nTONO Y ATENCIÓN:\n- Cálida, cercana y atenta. Como una asesora de boutique que de verdad quiere ayudar.\n- Español colombiano natural: \"con gusto\", \"claro que sí\", \"quedo pendiente\", \"con mucho gusto\".\n- Usa el nombre del cliente con naturalidad cuando ya lo conozcas — cálido, no mecánico.\n- Emojis con gracia: 1 a 3 por mensaje, sin saturar.\n- Nunca presiones. Cierra siempre con un paso útil o una pregunta que avance el proceso.\n- Respuestas cortas y cálidas (máx ~4 líneas), salvo al mostrar catálogo.\n\nCATÁLOGO Y TALLAS:\n- Si preguntan por productos o quieren ver el catálogo: \"Puedes explorar todo en nuestra página ${siteUrl} ✨ o directamente en nuestro perfil de WhatsApp.\"\n- Si no conocen su talla: \"Puedes ver nuestra guía de tallas en ${siteUrl}#care — también te puedo ayudar a medirte.\"\n\nFLUJO DE COMPRA — síguelo ESTRICTAMENTE en este orden:\n1. Confirma qué pieza(s) y en qué talla(s).\n2. Si no sabe la talla, envíalo a la guía antes de continuar.\n3. Muestra un resumen claro: pieza, talla, acabado y precio.\n4. Pide nombre completo (si aún no lo tienes).\n5. Pregunta de forma natural: \"¿Me das la ciudad y la dirección de entrega? Puede ser calle y número, nombre del conjunto/portal/urbanización, barrio — cualquier referencia que sirva para el envío.\"\n6. Pregunta el método de pago: \"¿Prefieres pagar por transferencia/Nequi o con pago contraentrega?\"\n7. Pregunta brevemente: \"¿El pedido es para ti o es un regalo?\" Si es regalo, pide el nombre del destinatario.\n8. Con todos los datos, haz un RESUMEN COMPLETO y pregunta: \"¿Confirmas este pedido?\"\n9. Solo cuando el cliente confirme explícitamente (sí / confirmo / listo / ok / dale), genera el tag.\n\nCAMPOS OBLIGATORIOS — si falta CUALQUIERA, sigue preguntando:\n✗ nombre completo  ✗ ciudad  ✗ dirección de entrega (cualquier formato)  ✗ método de pago\n\nCAMPOS OPCIONALES (no bloquean el flujo, inclúyelos vacíos si no aplican):\n• Barrio o sector específico → barrio (si el cliente lo menciona)\n• Apartamento / piso / torre / referencia adicional → ref\n• Nombre del destinatario si es regalo → destinatario\n\nIMPORTANTE sobre direcciones colombianas: acepta CUALQUIER formato válido — conjunto residencial, portal, urbanización, barrio, etapa, calle+número. NO insistas en pedir calle y número si el cliente ya dio un lugar identificable. Úsalo tal cual en el campo dir.\n\nREGLA CRÍTICA sobre dir vs ref:\n• dir = SOLO la dirección base: calle+número, OR nombre del conjunto/portal/urbanización. NADA MÁS.\n• ref = TODO complemento de entrega: número de apto, casa, piso, torre, O instrucción de entrega (portería, recepción, vigilancia, buzón). Si el cliente dice \"dejar en portería\" → ref=Portería. Si dice \"Casa 13\" → ref=Casa 13. Si dice \"Apto 302\" → ref=Apto 302.\n• notes_cliente = cualquier observación adicional que no encaje en los campos anteriores (instrucciones especiales, horario, etc.).\n\nCuando tengas TODO, incluye al final con EXACTAMENTE este formato (con corchetes):\n[PEDIDO_CONFIRMADO: nombre=NOMBRE | ciudad=CIUDAD | items=PIEZA(talla)xCANT | pago=METODO | dir=DIRECCION_BASE | barrio=BARRIO_O_VACIO | ref=APTO_CASA_PISO_O_PORTERIA | destinatario=NOMBRE_O_VACIO | notes_cliente=OBSERVACIONES_O_VACIO]\n\nEjemplos de dir y ref:\n• dir=Calle 59sur #93c 46, ref=Casa 13  → dirección con número de casa\n• dir=Calle 59sur #93c 46, ref=Portería  → mismo cliente dice \"dejar en portería\" (Casa 13 se reemplaza por Portería si el cliente lo indica)\n• dir=Calle 59sur #93c 46, ref=Casa 13 portería  → ambos datos mencionados\n• dir=Portal de Porvenir Etapa 1, ref=  → conjunto sin info adicional\n• dir=Carrera 45 #80-20, ref=Apto 302 Torre B  → apartamento\n• barrio=Los Álamos → si el cliente menciona un barrio distinto\n• barrio= → si la dirección ya lo incluye\n• destinatario=María López → si es regalo\n• destinatario= → para el mismo cliente\n• notes_cliente=Llamar antes de llegar → instrucción especial\n• notes_cliente= → sin observaciones\n\nPREGUNTAS FRECUENTES:\n- ¿Cuánto tarda el envío? 3-5 días hábiles a todo Colombia.\n- ¿Métodos de pago? Transferencia bancaria, Nequi, Daviplata o contraentrega.\n- ¿Costo del envío? Se confirma al tomar el pedido según ciudad.\n- ¿Envíos internacionales? Por ahora solo Colombia.\n- ¿Materiales genuinos? Sí — plata 925, oro laminado 18k sobre plata 925, piercings acero quirúrgico.\n- ¿Garantía? De por vida en la estructura de cada pieza.\n- ¿Personalización? Consultar disponibilidad con el equipo.\n- ¿Cómo sé mi talla? Guía en ${siteUrl}#care o te ayudamos a medirte.\n${pedidosResumen}\nCATÁLOGO DISPONIBLE (inventario REAL en tiempo real):\n${catalogo}\nSolo ofrece piezas visibles arriba. Talla \"(agotada)\" o pieza \"AGOTADA\" → no la ofrezcas, propón alternativa. Si piden algo que no está, dilo con amabilidad.\n\nINFORMACIÓN CLAVE:\n- Envíos a todo Colombia, 3-5 días hábiles.\n- Plata 925 genuina. Oro laminado 18k sobre plata 925. Piercings: acero grado quirúrgico.\n- Garantía de por vida en la estructura de cada pieza.\n- Atención humana: 9am-6pm, lunes a sábado.\n\nESCALAMIENTO A UN ASESOR HUMANO:\n- Tu prioridad es ayudar y cerrar la venta tu misma. Escala SOLO cuando de verdad se necesita un humano: el cliente lo pide explicitamente (\"quiero hablar con una persona/asesor\"), una queja o reclamo, un problema con un pedido existente, una personalizacion que no puedes resolver, o si el cliente esta molesto.\n- Cuando debas escalar, responde con calidez avisando que un asesor lo atendera pronto y añade al final, en una linea aparte, EXACTAMENTE el token: [ESCALAR]\n- El token [ESCALAR] es interno: nunca lo expliques ni lo menciones. No lo uses si puedes resolverlo tu misma.\n\nREGLAS:\n- No inventes políticas ni precios.\n- Solo hablas de VETA y joyería.\n- Si no estás segura de algo, ofrece consultarlo con el equipo.`;\n\nconst messages = [\n  { role: 'system', content: SYSTEM_PROMPT },\n  ...historyArray.map(row => ({ role: row.role === 'user' ? 'user' : 'assistant', content: row.content })),\n  { role: 'user', content: msgData.textContent }\n];\n\nreturn [{ json: { from: msgData.from, phoneNumberId: msgData.phoneNumberId, userMessage: msgData.textContent, messages } }];"
      },
      "id": "ddddbd28-5822-401b-9c2b-1fbac6b7ca81",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GROQ_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.3-70b-versatile\",\"max_tokens\":1024,\"messages\":{{ JSON.stringify($json.messages) }}}",
        "options": {}
      },
      "id": "e6baee0a-b1b5-4f04-ace2-19607f635612",
      "name": "Groq - Asesora VETA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3360,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const groqResponse = $input.first().json;\nconst contextData = $('Preparar Contexto').first().json;\n\nconst assistantMessage = groqResponse.choices?.[0]?.message?.content || 'Hubo un error, intenta de nuevo.';\nconst needsHuman = /\\[ESCALAR\\]/i.test(assistantMessage);\n\n// Regex flexible: con o sin corchetes, con o sin espacios alrededor del tag\nconst orderMatch = assistantMessage.match(/\\[?PEDIDO_CONFIRMADO:\\s*([^\\]\\n]+?)\\]?(?=\\s*$|\\n)/m)\n  || assistantMessage.match(/\\[?PEDIDO_CONFIRMADO:\\s*([^\\]]+?)\\]?/);\n\nlet orderData = null;\nlet cleanMessage = assistantMessage\n  .replace(/\\[?PEDIDO_CONFIRMADO:[^\\]\\n]*\\]?/g, '')\n  .replace(/\\[ESCALAR\\]/ig, '')\n  .trim();\n\nif (orderMatch) {\n  const parts = {};\n  orderMatch[1].split('|').forEach(p => {\n    const idx = p.indexOf('=');\n    if (idx > 0) {\n      const key = p.slice(0, idx).trim();\n      const val = p.slice(idx + 1).trim();\n      parts[key] = val; // se permiten vacíos para opcionales\n    }\n  });\n\n  // Compatibilidad hacia atrás: si vienen en formato viejo (notas=Pago:X. Dir:Y)\n  if (!parts['pago'] && parts['notas']) {\n    const m = (parts['notas'] || '').match(/pago:\\s*([^.]+)/i);\n    if (m) parts['pago'] = m[1].trim();\n  }\n  if (!parts['dir'] && parts['notas']) {\n    const dIdx = (parts['notas'] || '').search(/dir:/i);\n    if (dIdx >= 0) parts['dir'] = parts['notas'].slice(dIdx + 4).trim();\n  }\n\n  const nombre = parts['nombre'] || '';\n  const ciudad = parts['ciudad'] || '';\n  const items  = parts['items']  || '';\n  const pago   = parts['pago']   || '';\n  const dir    = parts['dir']    || '';\n  const barrio = parts['barrio'] || ''; // opcional, no bloquea el pedido\n\n  if (nombre.length > 1 && ciudad.length > 1 && items.length > 1 &&\n      pago.length > 1 && dir.length > 3) {\n    // Reconstruir notas como resumen legible (compatibilidad con panel)\n    parts['notas'] = `Pago: ${pago}. Dir: ${dir}` +\n      (barrio ? `. Barrio: ${barrio}` : '') +\n      (parts['ref'] ? `. Ref: ${parts['ref']}` : '');\n    parts['client_notes'] = parts['notes_cliente'] || '';\n    orderData = parts;\n  }\n  // Si faltan datos, cleanMessage ya está sin el tag — el bot seguirá la conversación\n}\n\nreturn [{ json: {\n  from: contextData.from,\n  phoneNumberId: contextData.phoneNumberId,\n  userMessage: contextData.userMessage,\n  assistantMessage: cleanMessage,\n  hasOrder: !!orderData,\n  orderData,\n  needsHuman\n} }];"
      },
      "id": "75f0ee87-2e0c-46be-883f-3837bd900c2d",
      "name": "Procesar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3600,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{ $json.from }}\",\"type\":\"text\",\"text\":{\"body\":{{ JSON.stringify($json.assistantMessage) }}}}",
        "options": {}
      },
      "id": "3c32b165-ec9a-4049-bb96-a3e78a1d2bb4",
      "name": "Enviar Respuesta por WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        224
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"phone\":{{ JSON.stringify($('Procesar Respuesta').first().json.from) }},\"role\":\"assistant\",\"content\":{{ JSON.stringify($('Procesar Respuesta').first().json.assistantMessage) }},\"wa_mid\":{{ JSON.stringify($json.messages && $json.messages[0] ? $json.messages[0].id : null) }},\"msg_type\":\"text\"}]",
        "options": {}
      },
      "id": "1596fe4c-94cd-48ac-8ea5-12883a603074",
      "name": "Guardar Conversación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "order-check",
              "leftValue": "={{ $json.hasOrder }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f6ce79f-77d4-436a-ae1d-f08f25e296cf",
      "name": "¿Hay un Pedido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4080,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $json.from }}\",\"customer_name\":\"{{ $json.orderData.nombre }}\",\"city\":\"{{ $json.orderData.ciudad }}\",\"items\":\"{{ $json.orderData.items }}\",\"notes\":\"{{ $json.orderData.notas }}\",\"address\":\"{{ $json.orderData.dir }}\",\"neighborhood\":\"{{ $json.orderData.barrio }}\",\"apt_ref\":\"{{ $json.orderData.ref }}\",\"payment_method\":\"{{ $json.orderData.pago }}\",\"recipient_name\":\"{{ $json.orderData.destinatario }}\",\"client_notes\":\"{{ $json.orderData.client_notes }}\",\"status\":\"pending\"}",
        "options": {}
      },
      "id": "ab6e5542-6715-4d30-8cfb-dd856b5163d1",
      "name": "Guardar Pedido",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Procesar Respuesta').first().json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WA_NOTIFY_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":\"🛒 *Nuevo pedido VETA — #{{ $json.order_number }}*\n\n🔹 Producto: {{ $json.items }}\n\n👤 {{ $json.customer_name }} (+{{ $(\"Procesar Respuesta\").first().json.from }})\n📍 {{ $json.city }}{{ $json.neighborhood ? \", \" + $json.neighborhood : \"\" }}\n🏠 {{ $json.address }}{{ $json.apt_ref ? \" — \" + $json.apt_ref : \"\" }}\n💳 Pago: {{ $json.payment_method }}{{ $json.recipient_name ? \"\n🎁 Regalo para: \" + $json.recipient_name : \"\" }}{{ $json.client_notes ? \"\n📝 \" + $json.client_notes : \"\" }}\n\nGestiónalo en #admin → Despachos.\"}}",
        "options": {}
      },
      "id": "1048274f-413c-4ce4-9d88-d8fe874b3a02",
      "name": "Notificar Pedido al Equipo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        224
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "a1b2c3d4-00aa-00aa-00aa-0000000000aa",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/products",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "visible",
              "value": "eq.true"
            },
            {
              "name": "select",
              "value": "id,name,cat,material,finish,price,sizes,blurb"
            },
            {
              "name": "order",
              "value": "cat"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-00bb-00bb-00bb-0000000000bb",
      "name": "Cargar Catálogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/stock",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "product_id,size,qty"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-00cc-00cc-00cc-0000000000cc",
      "name": "Cargar Stock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $('¿Límite alcanzado?').first().json.from }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "select",
              "value": "customer_name,city,items,notes,status,created_at"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "a1b2c3d4-00dd-00dd-00dd-0000000000dd",
      "name": "Cargar Pedidos Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        460
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/settings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "value"
            },
            {
              "name": "key",
              "value": "eq.bot_daily_limit"
            }
          ]
        },
        "options": {}
      },
      "id": "a9f3e201-cc11-4a2b-b800-limit0000001",
      "name": "Leer Límite Bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_threads",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $json.from }}"
            },
            {
              "name": "select",
              "value": "bot_paused"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000001",
      "name": "Verificar Pausa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        600
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json).filter(r => r && typeof r.bot_paused !== 'undefined');\nconst botPaused = rows.length > 0 && rows[0].bot_paused === true;\nconst msg = $('¿Cuántos mensajes hoy?').first().json;\nreturn [{ json: { ...msg, botPaused } }];"
      },
      "id": "c1000000-0000-0000-0000-000000000002",
      "name": "Evaluar Pausa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "pause-check",
              "leftValue": "={{ $json.botPaused }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000003",
      "name": "¿Bot en pausa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3360,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_threads?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $json.from }}\",\"last_at\":\"{{ new Date().toISOString() }}\",\"updated_at\":\"{{ new Date().toISOString() }}\"}",
        "options": {}
      },
      "id": "c1000000-0000-0000-0000-000000000005",
      "name": "Marcar Actividad (Pausa)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "escalate-check",
              "leftValue": "={{ $json.needsHuman }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c2000000-0000-0000-0000-000000000001",
      "name": "¿Escalar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3840,
        470
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_threads?on_conflict=phone",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\":\"{{ $json.from }}\",\"needs_human\":true,\"last_at\":\"{{ new Date().toISOString() }}\",\"updated_at\":\"{{ new Date().toISOString() }}\"}",
        "options": {}
      },
      "id": "c2000000-0000-0000-0000-000000000002",
      "name": "Marcar Requiere Asesor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4080,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.phoneNumberId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WA_NOTIFY_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":{{ JSON.stringify('\\ud83d\\udd14 *Un cliente necesita asesor*\\n\\nNumero: +' + $json.from + '\\nUltimo mensaje: ' + $json.userMessage + '\\n\\nAbre el panel #admin > Chats para atenderlo.') }}}}",
        "options": {}
      },
      "id": "c2000000-0000-0000-0000-000000000003",
      "name": "Notificar Asesor (Escalamiento)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        440
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "veta-agent-send",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Recibir Envío Asesor",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        700
      ],
      "webhookId": "veta-agent-send"
    },
    {
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/auth/v1/user",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.body.jwt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000002",
      "name": "Validar Sesión Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        700
      ],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "admin@vetajoyeria.co",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000003",
      "name": "¿Autorizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$env.WA_PHONE_NUMER_ID}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Recibir Envío Asesor').first().json.body.type === 'image' ? { messaging_product: 'whatsapp', to: $('Recibir Envío Asesor').first().json.body.phone, type: 'image', image: { link: $('Recibir Envío Asesor').first().json.body.mediaUrl, caption: $('Recibir Envío Asesor').first().json.body.message || '' } } : { messaging_product: 'whatsapp', to: $('Recibir Envío Asesor').first().json.body.phone, type: 'text', text: { body: $('Recibir Envío Asesor').first().json.body.message } }) }}",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000004",
      "name": "Enviar WA (Asesor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"phone\":{{ JSON.stringify($('Recibir Envío Asesor').first().json.body.phone) }},\"role\":\"agent\",\"content\":{{ JSON.stringify($('Recibir Envío Asesor').first().json.body.type === 'image' ? ($('Recibir Envío Asesor').first().json.body.message || '[imagen]') : $('Recibir Envío Asesor').first().json.body.message) }},\"wa_mid\":{{ JSON.stringify($json.messages && $json.messages[0] ? $json.messages[0].id : null) }},\"msg_type\":{{ JSON.stringify($('Recibir Envío Asesor').first().json.body.type || 'text') }},\"media_url\":{{ JSON.stringify($('Recibir Envío Asesor').first().json.body.mediaUrl || null) }}}]",
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000005",
      "name": "Guardar Mensaje (Asesor)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b1000000-0000-0000-0000-000000000006",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":false,\"error\":\"No autorizado\"}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b1000000-0000-0000-0000-000000000007",
      "name": "Responder No Autorizado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        720,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/rest/v1/wa_conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\"phone\":{{ JSON.stringify($json.from) }},\"role\":\"user\",\"content\":{{ JSON.stringify($json.textContent) }},\"wa_mid\":{{ JSON.stringify($json.waMessageId || null) }},\"reply_to\":{{ JSON.stringify($json.replyTo || null) }},\"msg_type\":{{ JSON.stringify($json.msgType || 'text') }},\"media_url\":{{ JSON.stringify($json.mediaUrl || null) }},\"created_at\":{{ JSON.stringify($json.waTimestamp ? new Date(parseInt($json.waTimestamp) * 1000).toISOString() : new Date().toISOString()) }}}]",
        "options": {}
      },
      "id": "d1000000-0000-0000-0000-000000000001",
      "name": "Guardar Mensaje Entrante",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        380
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1000000-0000-0000-0000-000000000001",
      "name": "Obtener URL Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "e1000000-0000-0000-0000-000000000002",
      "name": "Descargar Imagen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL}}/storage/v1/object/wa-media/inbound/{{ $('Parsear Mensaje WA').first().json.from }}-{{ $('Parsear Mensaje WA').first().json.mediaId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $('Obtener URL Imagen').first().json.mime_type || 'image/jpeg' }}"
            },
            {
              "name": "x-upsert",
              "value": "true"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "e1000000-0000-0000-0000-000000000003",
      "name": "Subir Imagen a Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -200
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Parsear Mensaje WA').first().json;\nlet supaUrl = '';\ntry { supaUrl = $env.SUPABASE_URL; } catch (e) {}\nconst mediaUrl = supaUrl + '/storage/v1/object/public/wa-media/inbound/' + base.from + '-' + base.mediaId;\nreturn [{ json: { ...base, mediaUrl, msgType: 'image' } }];"
      },
      "id": "e1000000-0000-0000-0000-000000000004",
      "name": "Preparar Imagen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            }
          ]
        }
      },
      "id": "sched-alertar-atrasados",
      "name": "Schedule - Alertar Pedidos Atrasados",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -500,
        960
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/wa_orders?status=eq.pending&created_at=lt.' + new Date(Date.now()-3*86400000).toISOString() + '&select=id,customer_name,phone,city,items,created_at' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-buscar-atrasados",
      "name": "Buscar Pedidos Atrasados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-atrasados",
              "leftValue": "={{ Array.isArray($json.body) ? $json.body.length : 0 }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-hay-atrasados",
      "name": "¿Hay Pedidos Atrasados?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        960
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/wa_orders?status=eq.pending&created_at=lt.' + new Date(Date.now()-3*86400000).toISOString() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\":\"problem\"}",
        "options": {}
      },
      "id": "http-marcar-problema",
      "name": "Marcar como Problema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/1216679024851056/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.WA_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":\"{{$env.WA_NOTIFY_NUMBER}}\",\"type\":\"text\",\"text\":{\"body\":\"⚠️ *Pedidos sin despachar (>3 días)*\\n\\nHay {{ $('Buscar Pedidos Atrasados').first().json.body.length }} pedido(s) pendiente(s) marcados como Problema en el panel.\\n\\nRevísalos en #admin → Despachos para gestionarlos.\"}}",
        "options": {}
      },
      "id": "wa-notificar-atrasados",
      "name": "Notificar Pedidos Atrasados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        880
      ]
    }
  ],
  "connections": {
    "Webhook - Verificación Meta": {
      "main": [
        [
          {
            "node": "Responder Verificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Mensajes WhatsApp": {
      "main": [
        [
          {
            "node": "Responder 200 OK a Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder 200 OK a Meta": {
      "main": [
        [
          {
            "node": "Parsear Mensaje WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Mensaje WA": {
      "main": [
        [
          {
            "node": "¿Saltar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Saltar?": {
      "main": [
        [],
        [
          {
            "node": "¿Audio o Texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Audio o Texto?": {
      "main": [
        [
          {
            "node": "Obtener URL del Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener URL Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contar Mensajes Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL del Audio": {
      "main": [
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir Audio (Groq)": {
      "main": [
        [
          {
            "node": "Unificar Transcripción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unificar Transcripción": {
      "main": [
        [
          {
            "node": "Contar Mensajes Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contar Mensajes Hoy": {
      "main": [
        [
          {
            "node": "Leer Límite Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Cuántos mensajes hoy?": {
      "main": [
        [
          {
            "node": "Guardar Mensaje Entrante",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Límite alcanzado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Límite alcanzado?": {
      "main": [
        [
          {
            "node": "Enviar Mensaje Límite al Cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Mensaje Límite al Cliente": {
      "main": [
        [
          {
            "node": "Notificar a Sebastian (límite)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Historial de Conversación": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Groq - Asesora VETA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Asesora VETA": {
      "main": [
        [
          {
            "node": "Procesar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Respuesta": {
      "main": [
        [
          {
            "node": "Enviar Respuesta por WA",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Hay un Pedido?",
            "type": "main",
            "index": 0
          },
          {
            "node": "¿Escalar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay un Pedido?": {
      "main": [
        [
          {
            "node": "Guardar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Guardar Pedido": {
      "main": [
        [
          {
            "node": "Notificar Pedido al Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Transcribir Audio (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Catálogo": {
      "main": [
        [
          {
            "node": "Cargar Stock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Stock": {
      "main": [
        [
          {
            "node": "Cargar Pedidos Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cargar Pedidos Cliente": {
      "main": [
        [
          {
            "node": "Historial de Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Límite Bot": {
      "main": [
        [
          {
            "node": "¿Cuántos mensajes hoy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pausa": {
      "main": [
        [
          {
            "node": "Evaluar Pausa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar Pausa": {
      "main": [
        [
          {
            "node": "¿Bot en pausa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Bot en pausa?": {
      "main": [
        [
          {
            "node": "Marcar Actividad (Pausa)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cargar Catálogo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Escalar?": {
      "main": [
        [
          {
            "node": "Marcar Requiere Asesor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Marcar Requiere Asesor": {
      "main": [
        [
          {
            "node": "Notificar Asesor (Escalamiento)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recibir Envío Asesor": {
      "main": [
        [
          {
            "node": "Validar Sesión Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Sesión Admin": {
      "main": [
        [
          {
            "node": "¿Autorizado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Autorizado?": {
      "main": [
        [
          {
            "node": "Enviar WA (Asesor)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder No Autorizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WA (Asesor)": {
      "main": [
        [
          {
            "node": "Guardar Mensaje (Asesor)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Mensaje (Asesor)": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener URL Imagen": {
      "main": [
        [
          {
            "node": "Descargar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Imagen": {
      "main": [
        [
          {
            "node": "Subir Imagen a Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Imagen a Storage": {
      "main": [
        [
          {
            "node": "Preparar Imagen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Imagen": {
      "main": [
        [
          {
            "node": "Contar Mensajes Hoy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Respuesta por WA": {
      "main": [
        [
          {
            "node": "Guardar Conversación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Alertar Pedidos Atrasados": {
      "main": [
        [
          {
            "node": "Buscar Pedidos Atrasados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pedidos Atrasados": {
      "main": [
        [
          {
            "node": "¿Hay Pedidos Atrasados?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Pedidos Atrasados?": {
      "main": [
        [
          {
            "node": "Marcar como Problema",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Marcar como Problema": {
      "main": [
        [
          {
            "node": "Notificar Pedidos Atrasados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "tags": [
    {
      "name": "VETA"
    }
  ],
  "pinData": {},
  "versionId": "35876ff4-df3d-4d32-94f5-3d0122ecb535"
}